@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body{
        @apply bg-[#f0f2f3]
    }


    h1 {
        @apply text-3xl font-extrabold
    }

    h2 {
        @apply text-2xl font-bold
    }

    h3 {
        @apply text-xl font-bold
    }

    input, textarea {
        @apply bg-white/5 py-2 px-4 text-lg w-full rounded-md outline-none border-b border-b-transparent  focus:border-b-primary focus:border-b-2
        placeholder:text-gray-400
    }
    
    button {
        @apply block cursor-pointer
    }
}

@layer utilities {
    .bg-gradient {
        @apply bg-gradient-to-r from-primary to-cyan-700
    }

    .text-gradient {
        @apply text-transparent bg-clip-text bg-gradient
    }

    .container {
        @apply max-w-[90%] mx-auto
    }
}

@layer components {
    .btn-primary {
        @apply bg-gradient text-white py-2 px-5 rounded-md transition-all w-full
        hover:scale-[1.025] active:scale-100
    }

    .btn-secondary {
        @apply bg-primary text-white py-2 px-5 rounded-md transition-all w-full
        hover:scale-[1.025] hover:bg-opacity-[0.8] active:scale-100
    }

    .btn-danger {
        @apply bg-red-100  text-red-500 py-2 px-5 rounded-md transition-all w-full
        hover:scale-[1.025] active:scale-100 text-center cursor-pointer
    }

    .budget-success {
        @apply bg-green-200 text-green-600 p-1 px-3 text-xs rounded-full text-center max-w-max
    }

    .budget-danger {
        @apply bg-red-200 text-red-600 p-1 px-3 text-xs rounded-full text-center max-w-max
    }

    .navbar {
        @apply bg-secondary flex  
    }

    .nav__link {
        @apply px-2 rounded-md py-1 hover:nav__link--active
    }

    .nav__link--active {
        @apply bg-primary text-white shadow-md shadow-cyan-800
    }
}